.git
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.env
*.md
docs
tests
.cursor
.vscode
.do
docker-compose.yml
scripts
pytest.ini
requirements-dev.txt
